@model Integrador_Reserva.Models.UsuarioCanchaViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/script.js"></script>
<link href="~/Content/global-2.0.css" rel="stylesheet" />
<br />
@using (Html.BeginForm("ResultadoBusqueda", "publico", FormMethod.Get, new { @id = "frm-searchCancha" }))
{
    <div class="container">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading"><b>Filtros de Búsqueda de Canchas deportivas</b></div>
                <div class="panel-body">
                    <div class="col-8 col-lg-8 col-lg-offset-2">
                        @Html.DropDownListFor(cancha => cancha.cancha.cancha_distrito_id,
                        new SelectList(Model.listaDistritos, "distrito_id", "distrito"), "Distrito", new { @class = " form-control dropdown-toggle col-lg-3" })

                        @Html.TextBoxFor(cancha => cancha.cancha.cancha_distrito, new { @class = "form-control col-lg-3", @placeholder = "Nombre de la cancha", @style="margin-left:10px;margin-right:15px;" })

                        <button type="submit" class="btn btn-success glyphicon glyphicon-search col-lg-2">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</br>
<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="http://3.bp.blogspot.com/-RGXMoxKN1Hc/U3wv3L-y6YI/AAAAAAAAFWo/31sCaxoTzBg/s1600/1363987845_486447183_1-Fotos-de--Alfigras-canchas-sinteticas.jpg" width="100%" height="100">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://otaleague.com/wp-content/uploads/2014/05/02-1.jpg" alt="" width="100%">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://www.reserclub.com.pe/img/servicios_slider4.jpg" alt="" width="100%">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="color:red;"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="color:red;"></span>
            </a>
        </div>
    </div>
</div>

<br />






