
@{
    ViewBag.Title = "TerminosYCondiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TerminosYCondiciones</h2>

<div class="row top80px">
    <div id="termleg" class="col-lg-10 col-lg-offset-1 borderAll">
        <h2>Información legal y condiciones generales</h2>

        <h4>Propiedad del Sitio; Acuerdo de Términos de Uso</h4>

        <p>Estos Términos y Condiciones de Uso (los "Términos de uso") se aplican al sitio web de <b>DeporteOnline</b> 
        ubicado en <b>www.deporteonline.com</b>, y todos los sitios asociados vinculados a <b>www.deporteonline.com</b>,
         sus subsidiarias y afiliadas (colectivamente, el "Sitio"). El Sitio es propiedad de <b>DeporteOnline</b> 
        y sus licenciantes. AL UTILIZAR EL SITIO, USTED ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, SI USTED
         NO ESTÁ DE ACUERDO, NO UTILICE EL SITIO.<br><br></p>

        <p><b>DeporteOnline</b> se reserva el derecho, a su sola discreción, de cambiar, modificar, añadir o eliminar
         partes de estos Términos de Uso, en cualquier momento. Es su responsabilidad revisar estas Condiciones 
        de Uso periódicamente para los cambios. El uso continuado del Sitio tras la publicación de los cambios 
        significará que usted acepta y está de acuerdo con los cambios. Siempre y cuando usted cumpla con estas 
        condiciones de uso, <b>DeporteOnline</b> le concede una licencia personal, no exclusiva, intransferible y 
        con limitado privilegio para entrar y utilizar el Sitio.<br><br></p>

        <h4>Contenido</h4>
        <p>Todos los textos, gráficos, interfaces de usuario, interfaces visuales, fotografías, marcas, logotipos,
         sonidos, música, arte y código de computadora (colectivamente, "Contenido"), incluyendo, pero no limitado,
         el diseño, la estructura, selección, coordinación, expresión, "look and feel" y la disposición de dicho
         Contenido, contenidos en el Sitio, son propiedad, controlados o licenciados por o para <b>DeporteOnline</b> 
        y están protegidos por presentaciones comerciales, derechos de autor, patentes y leyes de marca registrada,
         y otros derechos de propiedad intelectual y competencia desleal.<br><br></p>

        <p>Con excepción de lo expresamente indicado en estos Términos de Uso, ninguna parte del Sitio y del 
        Contenido puede ser copiado, reproducido, republicado, cargado, publicado, exhibido públicamente, 
        codificado, traducido, transmitido o distribuido de cualquier forma (incluido el "mirroring") a 
        cualquier otra computadora, servidor, sitio Web u otro medio de publicación o distribución o para 
        cualquier empresa comercial, sin el previo consentimiento expreso por escrito de <b>DeporteOnline</b>.
        <br><br></p>

        <p>Usted puede utilizar la información sobre los productos y servicios de <b>DeporteOnline</b> puestos
         a propósito a disposición para su descarga desde el sitio por <b>DeporteOnline</b> 
        a condición de que no (1) eliminar cualquier idioma aviso de propiedad en todas las copias de dichos documentos, (2) utilizar dicha información únicamente para su uso personal, no comercial con fines informativos y no copiar o publicar dicha información en cualquier ordenador de la red o difundido en cualquier medio de comunicación, (3) no modificar dicha información, y (4) no hacer ninguna representación o garantías adicionales en relación con dichos documentos.<br><br></p>

        <h4>Su Uso del Sitio</h4>
        <p>Usted no puede usar ningún "deep-link", "page-scrape", "robot", "spider" u otro dispositivo
         automático, programa, algoritmo o metodología, o cualquier proceso manual similar o equivalente,
         para acceder, adquirir, copiar o monitorear cualquier porción del Sitio o de cualquier Contenido,
         o en cualquier forma reproducir o sortear la estructura de navegación o presentación del Sitio o de
         cualquier Contenido, para obtener o intentar obtener cualquier material, documento o información
         mediante cualquier medio que no sea intencionalmente puesto a disposición a través del Sitio.
         <b>DeporteOnline</b> se reserva el derecho de prohibir cualquier actividad.<br><br></p>

        <p>Usted no puede intentar obtener acceso no autorizado a cualquier parte o función del Sitio,
         o de cualquier otro sistema o redes conectadas al Sitio o a cualquier servidor de <b>DeporteOnline</b> 
        o para cualquiera de los servicios ofrecidos a través del Sitio, por "hacking", "password mining"
         o cualquier otro medio ilegítimo.<br><br></p>

        <p>Usted no puede sondear, escanear o probar la vulnerabilidad del Sitio o de cualquier red conectada
         al Sitio, ni violar la seguridad o medidas de autenticación en el sitio o de cualquier red conectada
         al Sitio. Usted no puede realizar una búsqueda inversa, rastrear o tratar de localizar cualquier
         información sobre cualquier otro usuario o visitante del Sitio, o cualquier otro cliente de <b>DeporteOnline</b> 
        incluyendo cualquier cuenta de <b>DeporteOnline</b>que no le pertenezca a usted, a su fuente, 
        o explotar el Sitio o cualquier servicio o información disponible ofrecida a través del Sitio,
         en cualquier forma con el propósito de revelar cualquier información, incluyendo pero no limitado
         a la identificación personal o información, que no sea su propia información, conforme a lo dispuesto
         por el Sitio.<br><br></p>

        <p>Usted acepta que no tomará ninguna acción que imponga una carga irrazonable o desproporcionadamente
         grande en la infraestructura del Sitio o de los sistemas de <b>DeporteOnline</b> o redes u otros
         sistemas o redes conectadas al Sitio o a <b>DeporteOnline</b>.<br><br></p>

        <p>Usted se compromete a no utilizar ningún dispositivo, software o rutina para interferir o
         intentar interferir con el funcionamiento adecuado del Sitio o cualquier transacción que se 
        llevó a cabo en el Sitio, o con el uso de cualquier otra persona de este Sitio.<br><br></p>

        <p>Usted no puede falsificar encabezados o manipular identificadores para disfrazar el origen
         de cualquier mensaje o transmisión que usted envíe a <b>DeporteOnline</b> a través del Sitio o 
        cualquier servicio ofrecido a través del Sitio. No puede pretender que es usted, o que usted 
        representa a otra persona, o hacerse pasar por otra persona o entidad.<br><br></p>

        <p>Está prohibido utilizar el Sitio o cualquier Contenido para cualquier propósito que sea 
        ilegal o esté prohibido por estos Términos de Uso, o para solicitar la realización de cualquier 
        actividad ilegal o cualquier otra actividad que infrinja los derechos de <b>DeporteOnline</b> u otros.
        <br><br></p>

        <h4>Las compras, Otros Términos y Condiciones</h4>
        <p>Otros términos y condiciones pueden aplicar a las compras de bienes o servicios, así como a
         partes específicas o características del Sitio, incluyendo concursos, promociones u otros elementos
         similares, todos los cuales términos se hacen parte de estos Términos de Uso por esta referencia.
         Usted se compromete a cumplir con los demás términos y condiciones, incluyendo en su caso
         representación que tiene la edad legal suficiente para usar o participar en dicho servicio o 
        función. Si hay un conflicto entre estos Términos de uso y los términos publicados por o aplicable
         a una parte específica del sitio o de cualquier servicio ofrecido en oa través del Sitio, los
         últimos términos prevalecerán con respecto a su uso de la parte de la Sitio o el servicio específico.
        <br><br></p>

        <p>De existir, las obligaciones de <b>DeporteOnline</b>con respecto a sus productos y servicios 
        se rigen exclusivamente por los acuerdos conforme a los cuales se les proporciona, y nada en este
         Sitio debe interpretarse como una modificación de dichos acuerdos.<br><br></p>

        <p><b>DeporteOnline</b>puede realizar cambios a cualquiera de los productos o servicios ofrecidos
         en el Sitio o a los precios aplicables a dichos productos o servicios, en cualquier momento y 
        sin previo aviso. Los materiales contenidos en el Sitio con respecto a los productos y servicios 
        pueden no estar actualizados y <b>DeporteOnline</b> no se compromete a actualizar los materiales
         en el Sitio con respecto a dichos productos y servicios.<br><br></p>

        <h4>Cuentas, Contraseñas y Seguridad</h4>
        <p>Algunas de las funciones o servicios ofrecidos en o a través del Sitio pueden requerir que 
        usted abra una cuenta (incluida la creación de un ID de <b>DeporteOnline</b> y contraseña). Usted 
        es el único responsable de mantener la confidencialidad de la información que usted tiene en su cuenta,
         incluyendo su contraseña, y para cualquier actividad y todo lo que ocurra bajo su cuenta como
         resultado de su falta de mantener esta información segura y confidencial. Usted se compromete a 
        notificar inmediatamente a <b>DeporteOnline</b> acerca de cualquier uso no autorizado de su cuenta
         o contraseña, o cualquier otra violación de seguridad. Usted puede ser responsable de las pérdidas
         incurridas por <b>DeporteOnline</b> o cualquier otro usuario o visitante del Sitio debido a que otra 
        persona utilice su ID de <b>DeporteOnline</b> contraseña o cuenta, como resultado de la falta de mantener 
        la información de su cuenta en forma segura y confidencial.<br><br></p>

        <p>Usted no puede utilizar cualquier otro ID, contraseña o cuenta de <b>DeporteOnline</b> sin el 
        permiso expreso y el consentimiento del titular de ese ID, contraseña o cuenta de <b>DeporteOnline</b>.
         <b>DeporteOnline</b> no puede y no será responsable por cualquier pérdida o daño causado por su
         incumplimiento de estas obligaciones.<br><br></p>

        <h4>Privacidad</h4>
        <p>La Política de Privacidad de <b>DeporteOnline</b> se aplica al uso de este Sitio y sus términos 
        son parte de estos Términos de Uso por esta referencia. Al utilizar el Sitio, usted reconoce y 
        acepta que las transmisiones por Internet nunca son completamente privadas o seguras. Usted entiende 
        que cualquier mensaje o información que envíe al Sitio puede ser leído o interceptado por otros,
         incluso si existe un aviso especial indicando que una transmisión en particular (por ejemplo,
         información de tarjeta de crédito) está codificada.<br><br></p>

        <h4>Enlaces a otros sitios y el sitio de <b>DeporteOnline</b></h4>
        <p>Este sitio puede contener enlaces a otros sitios Web independientes de terceros ("Sitios Vinculados").
         Estos Sitios Enlazados se proporcionan únicamente para comodidad de nuestros visitantes. Los Sitios
         Vinculados no están bajo el control de <b>DeporteOnline</b> y <b>DeporteOnline</b> no se hace responsable
         ni avala el contenido de dichos sitios vinculados, incluyendo cualquier información o materiales contenidos
         en tales sitios vinculados. Usted tendrá que hacer su propio juicio independiente con respecto a su 
        interacción con los Sitios Enlazados.<br><br></p>

        <h4>Aviso legal</h4>
        <p><b>DeporteOnline</b> NO ASEGURA QUE EL SITIO O CUALQUIER CONTENIDO, SERVICIO O CARACTERÍSTICA DEL
         SITIO ESTARÁ LIBRE DE ERRORES O INTERRUPCIONES, O QUE LOS DEFECTOS SERÁN CORREGIDOS, O QUE SU USO
         DEL SITIO OFREZCA RESULTADOS ESPECÍFICOS. EL SITIO Y SU CONTENIDO SE OFRECEN "TAL CUAL" Y "SEGÚN 
        DISPONIBILIDAD". TODA LA INFORMACIÓN QUE APARECE EN EL SITIO ESTÁ SUJETA A CAMBIOS SIN PREVIO AVISO.
         <b>DeporteOnline</b> NO PUEDE ASEGURAR QUE LOS ARCHIVOS U OTROS DATOS QUE DESCARGUE DEL SITIO ESTARÁN
         LIBRES DE VIRUS O DE CONTAMINACIÓN O DE CARACTERÍSTICAS DESTRUCTIVAS. <b>DeporteOnline</b> NIEGA TODAS 
        LAS GARANTÍAS, EXPRESAS O IMPLÍCITAS, INCLUYENDO LAS GARANTÍAS DE EXACTITUD, NO INFRACCIÓN, 
        COMERCIALIZACIÓN Y APTITUD PARA UN PROPÓSITO PARTICULAR. <b>DeporteOnline</b> RENUNCIA A TODA
         RESPONSABILIDAD POR LOS ACTOS, OMISIONES Y CONDUCTA DE CUALQUIER TERCERO EN RELACIÓN CON O 
        RELACIONADOS CON EL USO DEL SITIO Y / O LOS SERVICIOS DE <b>DeporteOnline</b>. USTED ASUME 
        TODA LA RESPONSABILIDAD POR EL USO DEL SITIO Y DE LOS SITIOS ENLAZADOS. EL ÚNICO RECURSO CONTRA
         <b>DeporteOnline</b> POR NO ESTAR SATISFECHO CON EL SITIO O CUALQUIER CONTENIDO ES DEJAR DE
         UTILIZAR EL SITIO O CUALQUIER CONTENIDO. ESTA LIMITACIÓN DE DESAGRAVIO ES UNA PARTE DE LA 
        NEGOCIACIÓN ENTRE LAS PARTES.<br><br></p>

        <p>Lo anterior exención de responsabilidad se aplica a cualquier daño, responsabilidad o daños
         causados por cualquier falla de rendimiento, error, omisión, interrupción, supresión, defecto,
         retraso en la operación o transmisión, virus de computadora, falla en la línea de comunicación,
         robo o destrucción o acceso no autorizado, alteración de, o uso, ya sea por incumplimiento de
         contrato, agravio, negligencia o cualquier otra causa de acción.<br><br></p>

        <p>En cualquier momento y sin previo aviso, <b>DeporteOnline</b> se reserva el derecho de: (1)
         de modificar, suspender o terminar la operación o acceso al Sitio, o cualquier porción del Sitio,
         por cualquier razón, (2) a modificar o cambiar el Sitio, o cualquier porción del Sitio, y cualquier
         política o condición aplicable, y (3) interrumpir la operación del Sitio o cualquier parte del Sitio,
         según sea necesario para realizar el mantenimiento rutinario o no rutinario, corrección de errores,
         u otros cambios.<br><br></p>

        <h4>Limitación de responsabilidad</h4>
        <p>Excepto donde esté prohibido por la ley, en ningún caso <b>DeporteOnline</b> será responsable 
        ante usted por daños indirectos, consecuenciales, ejemplares, incidentales o punitivos, 
        incluyendo la pérdida de ganancias, incluso si <b>DeporteOnline</b> ha sido advertido de la 
        posibilidad de tales daños.<br><br></p>

        <h4>Indemnidad</h4>
        <p>Usted se compromete a indemnizar a <b>DeporteOnline</b> sus empleados, directores, accionistas,
         predecesores, sucesores en interés, empleados, agentes, subsidiarias y afiliadas, desistiendo 
        a la vez de aducir demanda, pérdida, responsabilidad, reclamación o gastos (incluyendo honorarios de abogados),
         contra <b>DeporteOnline</b> de parte de terceros debido a, o que surja de o en conexión con
         su uso del Sitio.<br><br></p>

        <h4>Violación de estas Condiciones de Uso</h4>
        <p>
            <b>DeporteOnline</b> podría revelar cualquier información que posea sobre usted
             (incluyendo su identidad) si se determina que dicha divulgación es necesaria en 
            relación con cualquier investigación o queja con respecto a su uso del Sitio, o 
            para identificar, contactar o emprender acciones legales contra alguien que pueda 
            estar causando daño o interfiriendo (ya sea intencionalmente o no) los derechos a 
            la propiedad de <b>DeporteOnline</b> o los derechos a la propiedad de los visitantes 
            o usuarios del Sitio, incluidos los clientes de <b>DeporteOnline</b>. <b>DeporteOnline</b> 
            se reserva el derecho de revelar en cualquier momento cualquier información que <b>DeporteOnline</b> 
            considere necesaria para cumplir con cualquier ley, regulación, proceso legal o solicitud
             gubernamental aplicable. <b>DeporteOnline</b> también podrá revelar su información cuando
             <b>DeporteOnline</b> considere que la ley aplicable requiere o permite dicha divulgación,
             incluyendo el intercambio de información con otras compañías y organizaciones para propósitos
             de protección contra el fraude.<br>
            <br>
        </p>

        <p>
            Usted reconoce y acepta que <b>DeporteOnline</b> puede conservar cualquier transmisión o 
            comunicación que usted haya mantenido con <b>DeporteOnline</b> a través del Sitio o cualquier 
            servicio ofrecido en o a través del Sitio, y también puede revelar estos datos si así lo
             requiere la ley o si <b>DeporteOnline</b> considera que dicha reserva o revelación es 
            razonablemente necesaria para (1) cumplir con procesos legales, (2) hacer cumplir estas
             Condiciones de Uso, (3) responder a reclamos de que tal información viola los derechos de terceros, 
            o (4) proteger los derechos, propiedad o seguridad personal de <b>DeporteOnline</b> 
            sus empleados, usuarios o visitantes del Sitio, y del público en general.<br>
            <br>
        </p>

        <p>Usted acepta que <b>DeporteOnline</b> puede, a su entera discreción y sin previo aviso,
         interrumpir el acceso al Sitio y/o bloquear su acceso futuro al Sitio si determinamos que
         usted ha violado estos Términos de Uso u otros acuerdos o directrices que puedan ser asociados 
        con su uso del Sitio. Usted también acepta que cualquier violación de su parte de estos Términos, 
        constituirá una práctica comercial ilegal e injusta y producirá un daño irreparable a <b>DeporteOnline</b>.
        <br><br></p>

        <p>Usted acepta que <b>DeporteOnline</b> podrá, a su entera discreción y sin previo aviso,
         interrumpir el acceso al Sitio, por causas que incluyen (pero no se limitan a) (1) las peticiones 
        de aplicación de la ley u otras agencias gubernamentales, (2) su propio requerimiento , 
        (3) interrupción o modificación material del Sitio o cualquier servicio ofrecido en o a 
        través del Sitio, o (4) problemas inesperados o problemas técnicos.<br><br></p>

        <p>Si <b>DeporteOnline</b> realiza alguna acción legal contra usted como resultado de su violación
         de estos Términos de Uso, <b>DeporteOnline</b> tendrá derecho a recuperar de usted, y usted se 
        compromete a pagar todos los honorarios razonables de abogados y costos de dicha acción, además
         de cualquier otra compensación concedida a <b>DeporteOnline</b>. Usted acepta que <b>DeporteOnline</b> 
        no será responsable ante usted ni ante ningún tercero por la terminación de su acceso al Sitio como 
        resultado de cualquier violación de estos Términos de uso.<br><br></p>

        <h4>Ley aplicable; Resolución de Litigios</h4>
        <p>Usted acepta que todos los asuntos relacionados con su acceso o uso del Sitio, incluyendo
         todos los litigios, se someterán a la jurisdicción de los tribunales competentes de la Ciudad
         de Buenos Aires, República Argentina, con renuncia a cualquier otro fuero o jurisdicción que
         pudiera corresponder. La disposición anterior no se aplica si usted es un consumidor con sede
         en la Unión Europea. Si usted es un consumidor con sede en la Unión Europea, puede presentar 
        una reclamación en los tribunales del país donde usted reside. Cualquier reclamo bajo estos 
        Términos de Uso deberá ser interpuesto dentro de un (1) año después de la causa de la acción 
        o dicho reclamo o causa de acción prescribirá. Los reclamos bajo los términos y condiciones 
        de la compra de bienes y servicios no están sujetos a esta limitación. Ninguna recuperación 
        puede ser solicitada o recibida por los daños que no sean gastos de su propio bolsillo, salvo 
        que la parte ganadora tendrá derecho a los costos y honorarios de abogados. En caso de cualquier 
        controversia o litigio entre <b>DeporteOnline</b> y Ud. que surja de o en conexión con su uso 
        del Sitio, las partes intentarán resolver cualquier disputa con prontitud y buena fe. 
        Ante la imposibilidad de resolver cualquier disputa dentro de un plazo razonable 
        (no más de treinta (30) días), cualquiera de las partes podrá someter dicha controversia
         o disputa a mediación. Si la controversia no puede ser resuelta a través de la mediación,
         las partes tendrán libertad para ejercer cualquier derecho o recurso disponible para ellos
         en virtud del derecho aplicable.<br><br></p>

        <h4>Nulo donde esté prohibido</h4>
        <p><b>DeporteOnline</b>administra y opera el sitio <b>www.deporteonline.com</b> desde su ubicación en
         la Ciudad Autónoma de Buenos Aires, República Argentina. Aunque el sitio es accesible a nivel mundial,
         no todas las características, productos o servicios comentados, referidos, prestados u ofertados a
         través de o en el sitio están disponibles para todas las personas o en todas las ubicaciones geográficas.
         <b>DeporteOnline</b> se reserva el derecho a limitar, a su entera discreción,
         la disposición y la cantidad de cualquier característica, producto o servicio a 
        cualquier persona o área geográfica. Cualquier oferta de cualquier característica,
         producto o servicio hecho en el sitio es nulo donde esté prohibido. Si usted accede
         al Sitio desde fuera de la República Argentina, lo hace bajo su propia iniciativa y como
         único responsable de cumplir con las leyes locales aplicables.<br><br></p>

        <h4>Misceláneas</h4>
        <p>Usted no puede usar o exportar o reexportar cualquier contenido o cualquier copia o adaptación 
        de dicho contenido, o cualquier producto o servicio ofrecido en el Sitio, en violación de cualquier
         ley o regulación aplicable, incluyendo sin limitación las leyes de exportación y las regulaciones 
        de la República Argentina.<br><br></p>

        <p>Si alguna de las disposiciones de estas condiciones de uso están en manos de un tribunal u 
        otro tribunal de jurisdicción competente para ser inválida o inaplicable, tal disposición se 
        limitará o eliminará en la medida mínima necesaria y se sustituirá por la disposición válida 
        que mejor encarne la intención de estos Términos de Uso, por lo que estas Condiciones de Uso 
        permanecerán en pleno vigor y efecto. Estos Términos de Uso constituyen el acuerdo completo 
        entre usted y <b>DeporteOnline</b> con respecto a su uso del Sitio, y cualquier y todos los
         demás acuerdos escritos o verbales o acuerdos ya existentes entre usted y <b>DeporteOnline</b> con 
        respecto a dicho uso quedan sustituidas y anuladas. Con excepción de lo dispuesto en un acuerdo de 
        compra, <b>DeporteOnline</b> no va a aceptar ninguna oferta que se contraponga a estos 
        Términos de Uso, y todas esas ofertas quedan rechazadas categóricamente. El fracaso de <b>DeporteOnline</b> 
        para insistir en el estricto cumplimiento de estas Condiciones de Uso no se interpretará como una renuncia
         por parte de <b>DeporteOnline</b> de cualquier disposición o derecho alguno que 
        tiene que hacer cumplir estos Términos de Uso, ni ninguna línea de conducta entre 
        <b>DeporteOnline</b> y usted o cualquier otra parte se considerará para modificar
         cualquier disposición de estos Términos de uso. Estas Condiciones de Uso no serán
         interpretadas en el sentido de conferir ningún derecho o recurso de terceros.<br><br></p>

        <p><b>DeporteOnline</b> puede contener referencias o referencias cruzadas a productos,
         programas y servicios que no están anunciados en su país. Estas referencias no implican 
        que <b>DeporteOnline</b> tiene la intención de anunciar dichos productos, programas o 
        servicios en su país .<br><br></p>

        <h4>Comentarios e Información</h4>
        <p>
            Cualquier información que usted proporcione en este sitio no será considerada confidencial.
             <b>DeporteOnline</b> podrá utilizar dicha información en forma irrestricta.<br>
            <br>
        </p>

        <p><i><strong>La información contenida en este sitio web está sujeta a cambios sin previo aviso.
            <br>Copyright © 2011-2017 <b>DeporteOnline</b>Todos los derechos reservados.</strong>
            </i>
        <p><strong>Última actualización: Noviembre 2014.</strong><br><br></p>
    </div>
</div>

