@model Integrador_Reserva.Models.UsuarioViewModel
@{
    var grid = new WebGrid();
    grid.Bind(Model.listaUsuarios);
}

<div id="content-inventario-grid">
    @grid.GetHtml(
        headerStyle: "", rowStyle: "", alternatingRowStyle: "", footerStyle: "",
        htmlAttributes: new { id = "IDGRID", @class = "table table - striped table - bordered table - condensed" },
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
        columns: grid.Columns(
            grid.Column("usuario_id", "Código", canSort: true, style: "person"),
            grid.Column("usuario_nombre", "Usuario", canSort: true, style: "person"),
            grid.Column("usuario_presentacion", "Descripción", canSort: true, style: "person"),
            grid.Column("usuario_razonsocial", "Razón Social", canSort: true, style: "person"),
            grid.Column("usuario_ruc", "RUC", canSort: true, style: "person"),
            grid.Column("usuario_email", "E-Mail", canSort: true, style: "person"),
            grid.Column("usuario_telefono", "Teléfono", canSort: true, style: "person"),
            grid.Column(header: "Acciones", format: (item) => new HtmlString(
                                        Html.ActionLink("Ver canchas", "Edit", new {
                                            usuario_id = item.usuario_id,
                                            usuario_nombre = item.usuario_nombre,
                                            usuario_razonsocial = item.usuario_razonsocial
                                        }).ToString()
                    )
            )
    ))
</div>
